* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  
  
  font-family: sans-serif;
  font-size: 20px;
  
}


h1,
p {
  
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 25px;
}

#name-label, #email-label, #number-label {
  justify-content: flex-start;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

#name, #email, #number {
  background: #fff;
}

#dropdown {
  background: rgba(189, 164, 164, 0.4);
  font-size: 20px;
}

label {
  font-family: sans-serif;
  
  
  font-size: 1rem;
  margin-bottom: 0;
}

input,
button,
select,
textarea {
  width: 50%;
  margin: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: inherit;
  line-height: inherit;
  border-radius: 10px;
}

button {
  border: rgb(131, 69, 69);
}


  


@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0.12rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0.12rem;
  }
}

.header {
  padding: 5px;
  margin-bottom: 5px;
}

.clue {
  margin-left: 15px;
  font-size: 20px;
  color: #15063b;
}


form {
  background: rgba(195, 191, 214, 0.4);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 0;
  }
}

.form-group {
  
  margin: 0, 0, 0, 7%;
  padding: 1%;
}

.form-control {
  
  width: 60%;
  height: 15px;
  padding: 0.9rem;
  color: #000;

  background-clip: padding-box;
 
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(80, 81, 124, 0.4);
}

.input-radio,
.input-checkbox {
  
  margin: 1% 5px 1px 5px;
  min-height: 1rem;
  min-width: 1rem;
}

.input-textarea {
  background: rgba(189, 164, 164, 0.4);
  min-height: 120px;
  width: 60%;
  padding: 0.6rem;
  resize: vertical;
}

.submit-button {
  
  width: 20%;
  padding: 0.75rem;
  background: rgba(156, 140, 140, 0.4);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
